
.root {
    -fx-font-family: 'Arial, sans-serif';
    -fx-background-color: #b3a6e3;
    -fx-text-fill: #2c2c2c;
}

.label {
    -fx-text-fill: #2c2c2c;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #8a5c9d;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: #7d6cbd;
    -fx-border-color: #483b7a;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-height: 25px;
    -fx-min-height: 25px;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #8a5c9d;
    -fx-alignment: center;
}

.subtitle {
    -fx-font-size: 18px;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.hbox {
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-background-color: #c79d14;
}

.hbox-menu-item {
    -fx-padding: 5;
    -fx-spacing: 15;
    -fx-alignment: center;
}

.vbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.choice-box {
    -fx-background-color: #7d6cbd;
    -fx-border-color: #483b7a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-height: 25px;
    -fx-min-height: 25px;
}

.choice-box .label {
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
}

.choice-box .context-menu .label {
    -fx-text-fill: #2c2c2c
}

.choice-box .arrow {
    -fx-background-color: #999999;
}

.check-box {
    -fx-text-fill: #2c2c2c;
    -fx-font-size: 14px;
}

.check-box .box {
    -fx-background-color: #ffffff;
    -fx-border-color: #acacac;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-height: 20px;
    -fx-min-height: 20px;
}

.scroll-pane > .view-port {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #4d4d4d;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.scroll-bar .increment-button {
    -fx-padding: 0;
    -fx-set-visible: false;
}

.scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-set-visible: false;
}

.date-picker {
    -fx-background-color: #7d6cbd;
    -fx-border-color: #483b7a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.tree-table-view {
    -fx-background-color: #7d6cbd;
}

.tree-table-view .column-header {
    -fx-background-color: #663c85;
}